<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="top.css" type="text/css">
    <title>メシテロ石川</title>
  </head>
  <body>
    <header class="header">
      <div class="header_inner">
        <div class="header_inner__title col-sm-5"><%= image_tag 'logo.png' %></div>
        <% if user_signed_in? %>
          <div class="header_inner__login"><%= link_to 'マイページ', user_path(current_user) %></div>
          <div class="header_inner__login"><%= link_to 'ログアウト', destroy_admin_user_session_path%></div>
        <% else %>
          <div class="header_inner__login"><%= link_to '新規登録', new_user_registration_path %></div>
          <div class="header_inner__login"><%= link_to 'ログイン', new_user_session_path %></div>
        <% end %>
        <div class="input-group col-sm-7">
          <input type="text" class="form-control" size="20" maxlength="40">
          <span class="input-group-btn">
            <button class="btn btn-info" type="submit">検索</button>
          </span>
        </div>
      </div>

    </header>
    <div class="nav">
      <div class="nav_inner">
        <ul class="nav_inner_list">
          <li class="nav_inner_list__content">トップ</li>
          <li class="nav_inner_list__content">ラーメン</li>
          <li class="nav_inner_list__content">寿司</li>
          <li class="nav_inner_list__content">定食</li>
          <li class="nav_inner_list__content">居酒屋</li>
          <li class="nav_inner_list__fin">+</li>
        </ul>
      </div>
    </div>
    <div class="home-header">
      <div class="home-header_inner">
        <ul class="list-home">
          <%= render partial: 'shops/shop' ,collection: @shops %>
          <li class="list-home__content_pickup">
            <a href="">
              <p>本日のピックアップ</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="content_inner">
        <div class="content_inner__main">
          <div class="content_inner__main_top">
            <a href="" class="content_inner__main_top_title">ラーメン</a>
            <span></span>
          </div>
          <div class="content_inner__main__content">
            <div class="content_inner__main__content_head">
              <%= image_tag(@shop_2.image.image.to_s,:height=>"160", :class=>"content_inner__main__content_head_image") %>
              <div class="content_inner__main__content_head_text"><%= @shop_3.shop_detail %></div>
            </div>
          </div>
        </div>
        <div class="content_inner__side">
          <div class="content_inner__side_top">
            <p>ランキング総合</p>
          </div>
          <div class="content_inner__side__content">
            <%= image_tag(@shop_2.image.image.to_s,:height=>"217") %>
            <div class="content_inner__side__content__title">
              <%= @shop_3.shop_detail %>
            </div>
          </div>
          <div class="content_inner__side__content">
            <%= image_tag(@shop_3.image.image.to_s,:height=>"217") %>
            <div class="content_inner__side__content__title">
              <%= @shop_3.shop_detail %>
            </div>
          </div>
          <div class="content_inner__side__content">
            <%= image_tag(@shop_2.image.image.to_s,:height=>"217") %>
            <div class="content_inner__side__content__title">
              <%= @shop_3.shop_detail %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer></footer>
</html>
