<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <img src="<%= @shop.images.first.image %>" width="290">
  <%= @shop.shop_name %>
  <%= image_tag 'white_heart.png', height: '80', id: 'heart_img', onclick: "LinkClick()"%>

  <div id="request_ajax_update" >
    <%= form_tag(shop_user_shop_path(@shop, @user_shop), method: :patch, remote: true) { %>
      <%= text_field :data, :text %>
      <%= submit_tag 'Post AJAX' %>
    <% } %>
  </div>

  <hr>
  <div id="updated_by_ajax" >
    DEFAULT
  </div>
</body>
</html>
