<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'shops' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>メシテロ石川</title>
  </head>
  <body>
    <%= render :partial => 'layouts/header' %>
    <div class="shop_header">
      <div class="shop_header_inner">
        <!-- パンくず -->
        <ul id="bread-crumb-list">
          <li><%= link_to 'メシテロ石川',root_path%></li>
          &nbsp;&gt;&nbsp;
          <li><%= @genre.genre_name %></li>
          &nbsp;&gt;&nbsp;
          <li><%= @shop.shop_name%></li>
          <hr>
        </ul>
        <p><%= @shop.shop_name %></p>
        <!-- button -->
        <div class="fav_box">
          <!-- 行きたい -->
          <%= render partial: './likes/like' , locals: { shop: @shop } %>
          <!-- 行った -->
          <%= render partial: './rates/rate' , locals: { shop: @shop, rate: @rate } %>
        </div>
        <br>
        <%= @shop.hurigana %><br>
        <!-- rating -->
        <div>
          <div class="shop_rate star_rating">
            <div class="star_rating_front" style="width: <%= @shop_ave %>%">★★★★★</div>
            <div class="star_rating_back">★★★★★</div>
          </div>
          <div class="shop_rate rate_num"><%= @shop_rate %></div>
        </div>
        <!-- ドロップダウンメニュー -->
        <ul class="menu">
          <li><a href="#">トップ</a></li>
          <li class="menu_single"><a href="#">メニュー・コース</a>
            <ul class="menu_second-level">
              <li><a href="#">コース</a></li>
              <li><a href="#">料理</a></li>
              <li><a href="#">ドリンク</a></li>
              <li><a href="#">ランチ</a></li>
            </ul>
          </li>
          <li class="menu_single"><a href="#">写真</a>
            <ul class="menu_second-level">
              <li><a href="#">料理</a></li>
              <li><a href="#">ドリンク</a></li>
              <li><a href="#">内観</a></li>
              <li><a href="#">外観</a></li>
              <li><a href="#">その他</a></li>
            </ul>
          </li>
          <li class="menu_single"><a href="#">口コミ</a>
            <ul class="menu_second-level">
              <li><a href="#">口コミ</a></li>
              <li><a href="#">評価</a></li>
            </ul>
          </li>
          <li class="menu_single"><a href="#">地図</a>
            <ul class="menu_second-level">
              <li><a href="#">地図</a></li>
              <li><a href="#">周辺のお店</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="shop">
      <div class="shop_inner">
        <div class="shop_inner_main">
          <%= image_tag(@shop.rectangle_image, class: "bigimg") %>
          <div class="inline">
            <div class="slider">
              <% @shop.images.rectangle.all.each do |img| %>
                <div class="slide">
                  <div class="slide_body"><%= image_tag(img.image.to_s, class: "smallimg")%></div>
                </div>
              <% end %>
            </div>
            <hr>
            <p class="info">店舗情報</p>
            <table>
              <tr>
                <th>店名</th>
                <td><%= @shop.shop_name %></td>
              </tr>
              <tr>
                <th>住所</th>
                <td>
                  <p><%= @shop.address %></p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12815.900409943439!2d136.6522998!3d36.5788178!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe8662312897ada7!2z6bq65bGL5aSn5rKz!5e0!3m2!1sja!2sjp!4v1548641814747" width="475" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                </td>
              </tr>
              <tr>
                <th>営業時間</th>
                <td>
                  11:30～15:00<br>
                  17:30～23:00<br>
                  [日・祝日]<br>
                  11:30～15:00
                </td>
              </tr>
              <tr>
              </table>
            </div>
          </div>
          <div class="shop_inner_side">
            <div class="sticky">
              <%= image_tag 'phone.png', class: "phone"%>
              <p class="phone"><%= @shop.tel %></p>
              <p class="ranking">周辺のお店ランキング</p>
              <hr>
              <a href="#"><%= image_tag '1.png', class: "rank" %>
                <%= link_to image_tag( @rank_shops.first.square_image, width: '165', height: '165', class: 'shop'), shop_path(@rank_shops.first) %>
                <p class="rank_shop_name"><%= link_to  @rank_shops.first.shop_name, shop_path(@rank_shops.first) %></p>
              </a><br>
              <hr>
              <a href="#"><%= image_tag '2.png', class: "rank" %>
                <%= link_to image_tag( @rank_shops.second.square_image, width: '165', height: '165', class: 'shop'), shop_path(@rank_shops.second) %>
                <p class="rank_shop_name"><%= link_to  @rank_shops.second.shop_name, shop_path(@rank_shops.second) %></p>
              </a><br>
              <hr>
              <a href="#"><%= image_tag '3.png', class: "rank" %>
                <%= link_to image_tag( @rank_shops.third.square_image, width: '165', height: '165', class: 'shop'), shop_path(@rank_shops.first) %>
                <p class="rank_shop_name"><%= link_to  @rank_shops.first.shop_name, shop_path(@rank_shops.first) %></p>
              </a><br>
              <hr>
            </div>
          </div>
        </div>
      </body>
    </html>
