<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <img src="<%= @shop.images.first.image %>" width="290">
  <%= @shop.shop_name %>
  <% if user_signed_in? %>
      <%= form_with(model: @shop, id:"user_like") do |f| %>
        <div id="updated_by_ajax" >
          <% if @user_shop.like = true %>
            <%= image_submit_tag 'heart.png', height: '80'%>
            <!-- image_submit_tagきもい -->            
          <% else %>
            <%= image_submit_tag 'white_heart.png', height: '80'%>
          <% end %>
        </div>
      <% end %>
  <% else %>
    <%= image_tag 'white_heart.png', height: '80'%>
  <% end %>


</body>
</html>
