<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <img src="<%= @shop.images.first.image %>" width="290">
  <%= @shop.shop_name %>
  <% if user_signed_in? %>
      <%= link_to(@shop, id:"user_like", method: :patch , remote: true) do %>
        <div id="updated_by_ajax" >
          <% if @user_shop.like == true %>
            <%= image_tag 'heart.png', height: '80'%>
          <% elsif @user_shop.like == false %>
            <%= image_tag 'white_heart.png', height: '80'%>
          <% end %>
        </div>
      <% end %>
  <% else %>
    <%= image_tag 'white_heart.png', height: '80'%>
  <% end %>
</body>
</html>
