<% if user_signed_in? %>

  <% if shop.like_user(current_user.id)%>

    <%= link_to(shop_like_path(shop), id:"user_like", method: :delete) do %>
      <div id="updated_by_ajax" >
        <%= image_tag 'heart.png', height: '20'%>
        行きたい
        <%= shop.likes_count%>
      </div>
    <% end %>

  <% else %>

    <%= link_to(shop_likes_path(shop), id:"user_like", method: :post, remote: true) do %>
      <div id="updated_by_ajax" >
        <%= image_tag 'white_heart.png', height: '20'%>
        行きたい
        <%= shop.likes_count%>
      </div>
    <% end %>

  <% end %>
<% else %>

  <%= image_tag 'white_heart.png', height: '20'%>
  行きたい<%= shop.likes_count%>

<% end %>
