<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag 'likes' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <%= render :partial => 'layouts/header-no-search' %>
    <div class="user-profile">
      <div class="user-profile_inner">
        <%= @user.nickname%>さん
        <%= link_to 'プロフィール編集', edit_user_registration_path %>
      </div>
    </div>
    <div class="nav">
      <div class="nav_inner">
        <div class="nav_inner__list">
          <p>いきたい<%= fa_icon 'heart', class: "fa-pink" %></p>
        </div>
        <div class="nav_inner__list">
          <p>
            <%= link_to 'いった', user_rates_path(current_user) %>
            <%= fa_icon 'star', class: "fa-yellow" %>
          </p>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content_inner">
        <% @liked_shop.each do |shop| %>
          <%= link_to (shop_path(shop)), class:"list-like" do %>
            <%= image_tag(shop.square_image, height: '240', class: "list-like__image") %>
            <div class="list-like__name">
              <%= shop.shop_name %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
