<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag 'users' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <%= render :partial => "layouts/header" %>
    <div class="navbar navbar-inverse container">
      <ul class="navbar navbar_nav row">
        <li class="col-md-4"><a href="#profile">プロフィール</a></li>
        <li class="col-md-4"><a href="#likes">行きたい</a></li>
        <li class="col-md-4"><a href="#rates">行った</a></li>
      </ul>
    </div>
    <div class="content container-fluid">
      <div class="content_inner">
        <div class="content_inner_status row" id="profile">
          <div class="col-md-6">
            <h2>卍<%= @user.nickname %>さん卍</h2>
            <div><%= fa_icon 'chevron-circle-right' %><%= link_to 'プロフィール編集', edit_user_registration_path %></div>
            <!-- <%= User.find_by_sql("SELECT COUNT(*) FROM user_shops INNER JOIN users ON @user.id = user_shops.user_id WHERE user_shops.like IS TRUE") %> -->
            <a href="#likes"><%= fa_icon 'heart', class: "fa-pink" %>行きたい店：<%= @user_like.count %>件</a><br>
            <a href="#rates"><%= fa_icon 'star', class: "fa-yellow" %>行った店：<%= @rated_shop.count%>件</a>
            <div class="__rating">平均評価：<br class="d-inline d-sm-none"/>
              <span class="rating">
                <span class="rating_front" style="width: <%=@rates%>%">★★★★★
                </span>
                <span class="rating_back">★★★★★</span>
              </span>
            </div>
          </div>
          <div class="col-md-6">
          </div>
        </div>
        <p>&nbsp;</p>
        <div class="likes row">
          <div class="likes" id="likes">
            <h2><%= fa_icon 'heart', class: "fa-pink" %>行きたい店<%= fa_icon 'heart', class: "fa-pink"%></h2>
            <br>
          </div>
          <% @liked_shop.each do |shop| %>
            <div class="likes_inner col-md-6">
              <h2 class="likes_inner__title"><%= link_to shop.shop_name, shops_show_path(shop), remote: true %></h2>
              <% if Image.exists?(:shop_id => shop.id) %>
                <%= image_tag shop.images.first.image.to_s %>
              <% else %>
                <%= image_tag 'notfound.png', width: '360' %>
              <% end %>
              <dl class="likes_inner__list">
                <dt>地域</dt>
                <dd><%= shop.area.area_name %></dd>
                <dt>ジャンル</dt>
                <dd><% genre = shop.genres %><%= genre.first.genre_name %></dd>
                <dt>詳細</dt>
                <dd><%= shop.shop_detail %></dd>
              </dl>
              <p>&nbsp;</p>
            </div>
          <% end %>
        </div>
        <p>&nbsp;</p>
        <div class="rated row">
          <div class="rated" id="rates">
            <h2><%= fa_icon 'star', class: "fa-yellow" %>行った店<%= fa_icon 'star', class: "fa-yellow" %></h2>
            <br>
          </div>
          <% @rated_shop.each do |shop| %>
            <div class="rated_inner col-md-6">
              <h2 class="rated_inner__title"><%= link_to shop.shop_name, shops_show_path(shop), remote: true %></h2>
              <% if Image.exists?(shop_id: shop.id) %>
                <%= image_tag shop.images.first.image.to_s , width: '360' %>
              <% else %>
                <%= image_tag 'notfound.png', width: '360' %>
              <% end %>
              <dl class="rated_inner__list">
                <dt>地域</dt>
                <dd><%= shop.area.area_name %></dd>
                <dt>ジャンル</dt>
                <dd><% genre = shop.genres %><%= genre.first.genre_name %></dd>
                <dt>詳細</dt>
                <dd><%= shop.shop_detail %></dd>
              </dl>
              <p>&nbsp;</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
