<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header_inner">
        <div class="header_inner__title col-sm-5"><%= image_tag 'logo.png' %></div>
        <% if user_signed_in? %>
          <div class="header_inner__login"><a href="#">マイページ</a></div>
          <div class="header_inner__login"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></div>
        <% else %>
          <div class="header_inner__login"><%= link_to '新規登録', new_user_registration_path %></div>
          <div class="header_inner__login"><%= link_to 'ログイン', new_user_session_path %></div>
        <% end %>
        <div class="input-group col-sm-7">
          <input type="text" class="form-control" size="20" maxlength="40">
          <span class="input-group-btn">
            <button class="btn btn-info" type="submit">検索</button>
          </span>
        </div>
      </div>
    </header>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <ul class="navbar navbar_nav">
        <li><a href="#">Statistics</a></li>
        <li><a href="#profile">Profile</a></li>
        <li><a href="#unsubscribe">Unsubscribe</a></li>
      </ul>
    </div>
    <div class="content">
      <div class="content_inner">
        <div class="content_inner_status row">
          <div class="col-sm-6">
            <h2>卍<%= @user.nickname %>さん卍</h2>
            <div><%= fa_icon 'chevron-circle-right' %><%= link_to 'プロフィール編集', edit_user_path(current_user) %></div>
            <!-- <%= User.find_by_sql("SELECT COUNT(*) FROM user_shops INNER JOIN users ON @user.id = user_shops.user_id WHERE user_shops.like IS TRUE") %> -->
            <a href="#likes"><%= fa_icon 'heart', class: "fa-pink" %>行きたい店：<%= @user_like.count %>件</a><br>
            <a href="#rates"><%= fa_icon 'star', class: "fa-yellow" %>行った店：<%= @rated_shop.count%>件</a>
            <div>平均評価：</div>
            <span class="rating">
              <span class="rating_front" style="width: <%=@rates%>%">★★★★★
              </span>
              <span class="rating_back">★★★★★</span>
            </span>
          </div>
          <div class="col-sm-6">
            <canvas id="likeChart"></canvas>
          </div>
        </div>
        <p>&nbsp;</p>
        <div class="likes row" id="likes">
          <div class="likes">
            <h2><%= fa_icon 'heart', class: "fa-pink" %>行きたい店<%= fa_icon 'heart', class: "fa-pink"%></h2>
            <br>
          </div>
          <% @liked_shop.each do |shop| %>
            <div class="likes_inner col-sm-6">
              <h2 class="likes_inner__title"><%= link_to shop.shop_name, shops_show_path(shop), remote: true %></h2>
              <% if Image.exists?(:shop_id => shop.id) %>
                <%= image_tag shop.images.first.image.to_s , width: '360' %>
              <% else %>
                <%= image_tag 'notfound.png', width: '360' %>
              <% end %>
              <dl class="likes_inner__list">
                <dt>地域</dt>
                <dd><%= shop.area.area_name %></dd>
                <dt>ジャンル</dt>
                <dd><% genre = shop.genres %><%= genre.first.genre_name %></dd>
                <dt>詳細</dt>
                <dd><%= shop.shop_detail %></dd>
              </dl>
              <!-- <p><%= shop.area.area_name %>
                <% @genre = shop.genres %>
                <%= @genre.first.genre_name %></p> -->
              <p>&nbsp;</p>
            </div>
          <% end %>
        </div>
        <p>&nbsp;</p>
        <div class="rated row" id="rates">
          <div class="rated">
            <h2><%= fa_icon 'star', class: "fa-yellow" %>行った店<%= fa_icon 'star', class: "fa-yellow" %></h2>
            <br>
          </div>
          <% @rated_shop.each do |shop| %>
            <div class="rated_inner col-sm-6">
              <h2 class="rated_inner__title"><%= link_to shop.shop_name, shops_show_path(shop), remote: true %></h2>
              <% if Image.exists?(:shop_id => shop.id) %>
                <%= image_tag shop.images.first.image.to_s , width: '360' %>
              <% else %>
                <%= image_tag 'notfound.png', width: '360' %>
              <% end %>
              <dl class="rated_inner__list">
                <dt>地域</dt>
                <dd><%= shop.area.area_name %></dd>
                <dt>ジャンル</dt>
                <dd><% genre = shop.genres %><%= genre.first.genre_name %></dd>
                <dt>詳細</dt>
                <dd><%= shop.shop_detail %></dd>
              </dl>
              <!-- <p><%= shop.area.area_name %>
                <% @genre = shop.genres %>
                <%= @genre.first.genre_name %></p> -->
              <p>&nbsp;</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
  <%= javascript_include_tag "likeChart" %>
</html>
