<!DOCTYPE html>
<html>
  <head>
    <title>メシテロ石川</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'application/favicon' %>
    <%= include_gon %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
