<!DOCTYPE html>
<html>
  <head>
    <title>Meshiterro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'application/favicon' %>
    <p class="notice">  <%= notice %></p>
    <p class="alert"> <%= alert %></p>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path(:facebook), :class => 'navbar-link' %>
    <%= link_to "Sign in with Twitter",  user_twitter_omniauth_authorize_path(:twitter),  :class => 'navbar-link' %>
    <%= yield %>
  </body>
</html>
